<h1>Edit Timesheet</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.timesheet_path(@conn, :update, @timesheet)) %>

<span><%= link "Cancel", to: Routes.timesheet_path(@conn, :show, @timesheet) %></span>
